body{
    margin-left: 500px;
}

#Login-block,#Register-block,#back{
    visibility: hidden;
    position: absolute;
}

input, button{
    margin: 5px;
    padding: 5px;
}
#back{
    margin: 200px 0px 0px 200px;
}